@font-face {
  font-family: 'Poppins Extralight';
  src: local('Poppins'), url(./fonts/Poppins-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Regular';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Medium';
  src: local('Poppins'), url(./fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: local('Poppins'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins Black';
  src: local('Poppins'), url(./fonts/Poppins-Black.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Poppins Regular', sans-serif;
  /*font-size: 14px;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #002343;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**** Roger Laie Menu ****/

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  background: #002343;
  height: 88px;
  /*
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  */
}

h4 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
}

h4.titol-secc {
  text-transform: none;
}

h4 a {
  font-family: 'Poppins Bold', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #002343;
}


a {
  color: #002343;
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
}

a:hover {
  color: #f49331;
  text-decoration: none;
}

.main-nav {
  max-width: 1080px;
  margin: 0 auto;
  height: inherit;
}

.main-nav a {
  font-family: 'Poppins Regular' !important;
  font-size: 14px !important;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 100%;
}

.main-nav ul li {
  border-left: 1px solid #ccc;
}

.main-nav ul li:first-child {
  border-left: none;
}

.main-nav a {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: .3em 30px;
  font-size: 14px;
  max-width: 140px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  color: #fff;
}

.main-nav a:hover,
.main-nav a:focus {
  text-decoration: underline;
}

.top-nav-logo {
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
}

.top-nav-logo a {
  padding-left: 0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 88px;
  left: 0;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.card {
  border-radius: 0 !important;
}

/* colors */
.shadow-grey {
  background-color: #d1d7dd;
  background-image: linear-gradient(0deg, #c6ced5, #f6f7f9 70%);
}

.inici-home {
  margin-top: 66px;
  /*margin-top: 150px;*/
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.carousel-item {
  position: relative;
  display: none;
  float: none;
  width: 100%;
  margin-right: -50% !important;
}

.carousel {
  background-color: antiquewhite;
}

.separav120 {
  margin-top: 120px;
}

.separav60 {
  margin-top: 60px;
}

.separav60_pad {
  padding-top: 60px;
}

.separab60 {
  margin-bottom: 60px;
}

.separab60_pad {
  padding-bottom: 60px;
}

.separav30 {
  margin-top: 30px;
}

.separab30 {
  margin-bottom: 30px !important;
}

.separah15 {
  padding: 0 15px 0 15px;
}

.separab200 {
  margin-bottom: 200px;
}

.separab120 {
  margin-bottom: 120px;
}

.separab60 {
  margin-bottom: 60px;
}

.slPrincipal .slick-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

.slick-slider.slPrincipal {
  width: 100%;
  margin-left: 0px;
}

.slPrincipal .slick-prev {
  left: 0px;
  z-index: 1;
}

.slPrincipal .slick-next {
  right: 0px;
}

.slPrincipal .slick-dots li button:before {
  font-size: 14px;
}

.slPrincipal .slick-dots {
  bottom: 15px;
}

.slPrincipal .slick-dots li {
  margin: 0 1px;
}

.slide_slPrincipal {
  background-color: #F8F9FB;
  height: 430px;
}

.slide_slPrincipal .card-body {
  width: 35%;
}

.slide_slPrincipal .sl_titol {
  font-family: 'Poppins Bold';
  font-size: 48px;
  text-transform: none;
  text-align: left;
  line-height: 1.1em;
}

.slide_slPrincipal .sl_subtitol {
  font-family: 'Poppins Medium';
  font-size: 16px;
  text-transform: none;
  margin-top: 20px;
  text-align: left;
}

.slide_slPrincipal .btn-primary {
  color: #fff;
  background-color: #002343;
  border-color: #002343;
  font-family: 'Poppins Black';
  font-size: 16px;
  margin-top: 30px;
}

.slide_slPrincipal .btn-primary:hover {
  color: #f49331;
}

.slick-slide {
  text-align: -webkit-center !important;
}

.regala_card_llibre {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  min-width: 100%;
}

.regala_card_llibre .card-text {
  text-align: right;
  color: #f49331;
}

.regala_card_llibre .text_petit.card-body .card-text {
  text-align: left;
  color: #000;
  font-size: 14px;
}

.regala_card_llibre .text_petit.card-body .text_exp.card-text {
  font-size: 14px;
  font-family: 'Poppins Bold';
}

.regala_card_llibre .btn-primary {
  background-color: #f49331;
  border-color: #f49331;
  width: 100%;
  font-family: 'Poppins Black';
  font-size: 14px;
}

.regala_card_llibre.card img.card-img-top {
  padding: 20px;
}

.regala_titol.card-title.h5 {
  height: 3em;
}

.recom_card_llibre {
  display: inline-block;
  width: 180px;
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
}

.recom_card_llibre .card-text {
  text-align: right;
  color: #f49331;
}

.recom_card_llibre .btn-primary {
  background-color: #f49331;
  border-color: #f49331;
  width: 100%;
  font-family: 'Poppins Black';
  font-size: 14px;
}

.slick-slider {
  margin-left: -25px;
  margin-right: -25px;
}

.carrussel .slick-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.slick-prev,
.slick-next {
  width: 22px !important;
  height: 80px !important;
  background: #eee !important;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: #bababa !important;
}

.card-body {
  text-align: left;
}

.recom_card_llibre img {
  width: 145px;
  height: 228px;
  margin: 0 auto;
  display: block;
}

.recom_card {
  /*width: 90%;*/
  height: 375px;
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  background-position: bottom 20px right 20px;
  background-repeat: no-repeat;
}

.fonsgroc {
  background-color: #f6e88d !important;
}

.fonsblau {
  background-color: #beddf2 !important;
}

.tarjeta-fons {
  background-color: #f8f9fb;
}

.titol {
  font-size: 32px;
  text-transform: uppercase;
  display: block;
}

.subscriu-fons {
  background-color: #f8f9fb;
}

.subscriu-fons .text p {
  width: 40%;
  margin: 10px auto 40px auto;
}

.text {}

.centrat {
  text-align: center;
}

.form-control {
  display: inline-block !important;
  width: 40% !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 35, 67, .7);
}

.body_recom.card-body {
  padding: 2rem;
}

.recom_card .btn-primary {
  background-color: #f49331;
  border-color: #f49331;
  width: 140px;
  font-family: 'Poppins Black';
  font-size: 14px;
}

.titol_recom.card-title.h5 {
  font-family: 'Poppins Bold';
  font-size: 24px;
  text-transform: none;
}

.card-title.h5 {
  font-family: 'Poppins Black';
  font-size: 14px;
  text-transform: uppercase;
}

.recom_card .card-subtitle.h6 {
  margin-top: 25px;
  font-family: 'Poppins Extralight';
  font-size: 16px;
}

.card-subtitle.h6 {
  font-family: 'Poppins Extralight';
  font-size: 12px;
}

.card-text {
  font-family: 'Poppins Regular';
  /*font-family: 'Poppins Extralight';*/
  font-size: 16px;
}

.preu_recom.card-text {
  margin-top: 60px;
  color: #f49331;
}

/*
.btn-primary:hover {
  color: #002324;
}
*/

.btn-primary:hover {
  color: #fff;
  background-color: #083d6d;
  border-color: #083d6d;
}

.titol_deco1,
.titol_deco2 {
  font-size: 48px;
}

.titol_deco1 {
  font-family: 'Poppins Extralight';
}

.titol_deco2 {
  font-family: 'Poppins Bold';
}

.text .negreta {
  font-family: 'Poppins Bold';
  font-size: 16px;
}

.text .normal {
  font-family: 'Poppins Extralight';
  font-size: 16px;
  line-height: 18px;
}

.icona-align {
  vertical-align: middle;
  margin-bottom: 0.4em;
  margin-right: 1em;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 25px);
  padding: .375rem 1.75rem;
  color: #495057;
  background-color: #fff;
  border: 0px solid #ced4da;
  border-radius: 0rem;
}

.boto-nwsltr {
  background-color: #002343;
  height: 62px;
  vertical-align: unset;
  border: 0px solid transparent;
  border-radius: 0rem;
  padding: .375rem 4.75rem;
}


/*** footer blau ***/
.bg-blue {
  padding: 3rem 0;
  background-color: #002343;
}

.brand {
  margin-top: 8rem;
  margin-bottom: -6.7rem;
}

.more-sites {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Poppins Extralight';
}

.more-sites.half a {
  float: left;
  width: 48%;
  text-decoration: none;
}

.more-sites a {
  color: #fff;
  display: block;
  line-height: 24px;
  text-decoration: none;
}

.more-sites a:hover {
  text-decoration: underline;
}

img.Logopeu {
  width: 280px;
}

.share {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

ul.share li:first-child {
  padding-left: 0;
}

ul.share li {
  display: inline;
  padding-left: 1.5rem;
}

ul.share li a {
  font-size: 1.4rem;
  color: #fff;
}

/**** Fi footer blau ****/

/**** Cercador ****/

.form-control-cerca {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  height: 30px;

  font-size: 12px;
}

input.bcerca {
  width: 17px;
  height: 17px;
  margin-left: -17px;
  margin-top: 6px;
}

.header-bottom {
  background-color: rgba(254, 254, 254, 1);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  height: 62px;
}

.header-bottom .wrap {
  padding-top: 1rem;
  padding-bottom: 1em;
}

.header-bottom .wrap .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: 15px;
}

ul.options {
  list-style: none;
}

ul.options a {
  text-decoration: none;
}


.header-bottom .wrap .options>.item:first-child {
  width: 55%;
}

.header-bottom .wrap .options>.item:nth-child(2) {
  width: 25%;
}


.header-bottom .wrap .options>.item .search .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-bottom .wrap .options>.item .search .form .f1 {
  border: .1rem solid #ccc;
  padding: .2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  margin: 0 1.5rem 0 0;
}

.header-bottom .wrap .options>.item .btn-cart .number {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  background-color: #f49331;
  color: #fff;
  font-size: 12px;
  line-height: 1.5rem;
  display: block;
  position: relative;
  top: -2.3rem;
  right: -0.8rem;
}

a.bCercaAv {
  background-color: #002343;
  color: #fff;
  padding: 4px 14px 4px 12px;
  border-radius: .25rem;
  margin-left: 20px;
  font-size: 14px;
}

.btn.menu {
  font-size: 1.5rem;
  margin-top: -12px;
}

.sel-idiomes {
  padding-left: 12px;
  color: #002343;
  font-size: 14px;
}

/**** Fi Cercador ****/

footer {
  padding: 40px 0 15px 0;
}

.logosfooter {
  margin-top: -8px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}

/**** Modal ***/

.modal-inici {
  min-width: 50%;
}

.subscriu-fons.modal-header {
  border-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.subscriu-fons.modal-header .close {
  font-size: 3rem;
  font-weight: 100;
}

.modal-header .close {
  padding: 1rem 2rem 0;
  margin: -1rem -1rem -1rem auto;
}

.modal-header {
  padding: 1rem 1rem 0 1rem;
}

.lnk-buscador-avanzado a {
  text-decoration: none;
}

/******** Resultats Cerca *********/

hr {
  margin-top: 0px;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #002343;
}

.btn-buit {
  background-color: white;
  border: 2px solid #002343;
  color: #002343;
}

.btn-buit:hover {
  color: #fff;
}

.menu-resultats .btn-link {
  color: #002343;
}

.menu-resultats .btn {
  color: #002343;
  text-align: left;
  cursor: pointer;
  padding: 0;
}

.menu-resultats .card-header {
  padding: .55rem 1rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0px;
}

.menu-resultats .card {
  border: 0px;
}

.menu-resultats .card-body {
  padding: 1rem;
}

input[type=checkbox],
input[type=radio] {
  margin: 30px 10px 0 0;
}

/**** Accordion ****/

.app {
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.app__text {
  width: 100%;
}

.app__collapse {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app__collapse--gradient .app__content {
  border-color: transparent;
}

.app__collapse--gradient:after {
  pointer-events: none;
  transition: opacity 300ms;
  will-change: opacity;
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 50%, white);
}

.app__collapse--active:after {
  opacity: 0;
}

.app__content {
  border: 0;
  font-size: 1rem;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  position: relative;
  transition: 300ms;
}

.app__toggle {
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  font-weight: bold;
  padding: 1rem 0 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px #888;
  background-color: #fff;
  transition: background-color 300ms;
}

.app__toggle--active {
  background-color: #fafafa;
}

.app__toggle-text {
  font-size: inherit;
}

span.app__toggle-text {
  text-align: left;
}

.app__button {
  display: block;
  width: 20rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.app__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.icon {
  width: 1em;
  height: 1em;
  transition: transform 300ms cubic-bezier(0, 1, 0, 1);
  will-change: transform;
}

.icon--expanded {
  transform: rotateZ(-179.99deg);
}

.rotate90 {
  transform: rotateZ(90deg);
}

button.app__toggle {
  font-size: 1rem;
  box-shadow: none;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #002343;
}

button.app__toggle.app__toggle_sub {
  border-bottom: 0;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
  font-weight: normal;
}

button.app__toggle.app__toggle_subsub {
  border-bottom: 0;
  padding-left: 1.6em;
  padding-top: 0rem;
  font-weight: normal;
}

.app__content ul {
  /*padding-left: 2.4rem;*/
  list-style: none;
  margin-bottom: 0rem;
  /*margin-top: -0.5rem;*/
}

.app__collapse_subsub .app__content ul {
  padding-left: 2.4rem;
  list-style: none;
  margin-bottom: 0rem;
}

.app__content ul li {
  padding-bottom: 0.5rem;
}

.app__content ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #002343;
}

.app__content ul li a:hover,
.app__content ul li a:active,
.app__content ul li a:focus {
  text-decoration: none;
  color: #f49331;
}

.centra-veure_mes {
  /* margin: 0 auto; */
  text-align: center;
  padding-top: 4rem;
}

/*

.select-ordenar dropdown-menu {
  min-width: 100%;
  color: #002343;
}

.select-ordenar .dropdown-toggle::after {
  display: none;
}

.select-ordenar .dropdown-menu {
  min-width: 100%;
}
*/

.icon {
  width: 2em;
  height: 0.8em;
}

.select-ordenar {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  min-width: 100%;
}

.select-ordenar.app__toggle {
  color: #fff;
  background-color: #002343;
  border-color: #002343;
  width: 100%;
  text-align: left;
  padding: 0.5rem 0 0.3rem;
  border-radius: 10px;
}

.select-ordenar.app__collapse {
  width: 100%;
  display: block;
  position: relative;
  margin: -10px 0 10px 0;
}

.select-ordenar .icon {
  fill: #fff;
}

.ordenar-list.app__content ul {
  padding-left: 1rem;
  list-style: none;
  padding-bottom: 1rem;
}

.ordenar-list.app__content {
  background-color: #002343;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ordenar-list ul li a {
  color: #fff;
}

.main-nav-list .dropbtn:active {
  text-decoration: underline;
}

/**** fitxes ****/

.fitxa .slick-slider {
  margin: 0;
}

.fitxa .imatge-detall .carrussel .slick-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fitxa .imatge-detall {
  margin-top: -5px;
}

.fitxa .regala_card_llibre.card img.card-img-top {
  padding: 20px 0 0 0;
}

.fitxa .recomanats .slick-slider .slick-slide {
  padding: 10px 20px 10px 20px;
}

.fitxa .recom_card_llibre.card,
.fitxa .regala_card_llibre.card {
  min-width: 100%;
}

.fitxa .recom_card_llibre img,
.fitxa .regala_card_llibre img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  /*padding-top: 20px;*/
}

.fitxa .imatge-detall .recom_card_llibre {
  max-width: 90%;
}

.fitxa .imatge-detall .recom_card_llibre.card {
  min-width: 90%;
}

.regala_card_llibre.card img.card-img-top {
  padding: 0px;
}

.fitxa .card {
  border: 0;
}

.fitxa .recom_card {
  width: 100%;
  height: auto;
  box-shadow: none;
}

.fitxa .carrussel .slick-list {
  padding: 0;
}

.fitxa .body_recom.card-body {
  padding: 0rem;
}

.fitxa .titol_recom.card-title.h5 {
  font-size: 25px;
}

.fitxa .recom_card .subtitol.card-subtitle.h6 {
  margin-top: 0;
  margin-bottom: .75rem;
  font-family: 'Poppins Bold';
  font-size: 19px;
}

.fitxa .recom_card .autor.card-subtitle.h6 {
  margin-top: 0;
  margin-bottom: .75rem;
  font-family: 'Poppins Regular';
  font-size: 16px;
}

.fitxa .preu_recom.card-text {
  margin-top: 2rem;
  font-family: 'Poppins Regular';
  font-size: 20px;
  color: #f49331;
}

.fitxa .preu_recom.card-text .preu-iva {
  font-size: 16px;
  color: #002343;
  padding-left: 1rem;
}

.fitxa .recom_card .btn-primary {
  background-color: #f49331;
  border: 2px solid #f49331;
  width: 17rem;
  font-family: 'Poppins Black';
  font-size: 14px;
}

.fitxa .recom_card .btn-primary:hover {
  background-color: #083d6d;
  border-color: #083d6d;
}

.fitxa .recom_card .btn-buit.btn-primary {
  background-color: white;
  border: 2px solid #f49331;
  margin-left: 1rem;
  color: #f49331;
}

.fitxa .recom_card .btn-buit.btn-primary:hover {
  background-color: #083d6d;
  border-color: #083d6d;
  color: #fff;
}

.fitxa p.fitxa-text.card-text {
  padding-top: 2rem;
}

.fitxa .fitxa-text {
  font-family: 'Poppins Regular';
  font-size: 14px;
}

.fitxa .fitxa-text .textintro {
  display: block;
  font-family: 'Poppins Bold';
  font-size: 17px;
  padding-bottom: 1rem;
}

.recomanats .row,
.recomanats .slick-slider {
  margin: 0;
}

/***** Usuari tipus 1 *****/

.usuari .card {
  display: inline-block;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  min-width: 100%;
  padding: 4rem 4rem 8rem 4rem;
  margin-bottom: 1rem;
}

.usuari .card-title.h5 {
  font-size: 24px;
  text-align: center;
  text-transform: none;
  padding-bottom: 2rem;
  display: block;
}

.usuari p.card-text {
  font-family: 'Poppins Regular';
  font-size: 14px;
  text-align: left;
  margin-bottom: 2rem;
  color: #002343;
}

.usuari span.titol_camp,
.usuari .card .form-label {
  display: block;
  font-family: 'Poppins Bold';
  font-size: 14px;
}

.usuari span.text_form {
  display: block;
  font-size: 14px;
}

.usuari .form-control {
  display: block !important;
  width: 100% !important;
  height: calc(1.5em + .75rem + 25px);
  padding: .375rem 1.75rem;
  color: #495057;
  background-color: #efefef;
  border: 0px;
  border-radius: 14px;
}

.usuari textarea {
  height: auto !important;
}

.usuari form span {
  margin-bottom: .5rem;
}

.usuari form .form-control {
  margin-bottom: 2rem;
}

.usuari .btn-primary {
  background-color: #f49331;
  border: 2px solid #f49331;
  width: 17rem;
  font-family: 'Poppins Black';
  font-size: 14px;
  margin-top: 2rem;
}

.usuari .btn-primary:hover {
  background-color: #083d6d;
  border-color: #083d6d;
}

.usuari .boto_submit {
  display: block;
  text-align: right;
}

.usuari .titol_user {
  font-family: 'Poppins Bold';
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 3rem;
  text-align: center;
  min-width: 100%;
}

.usuari .titol_user+.card {
  padding-left: 8rem;
  padding-right: 8rem;
}

.usuari .check {
  display: block;
}

.usuari span.titol_camp.captcha {
  margin-top: 2rem;
}

.usuari input[type=checkbox],
.usuari input[type=radio] {
  margin: 0px 10px 0 0;
}

.usuari .form-check {
  position: relative;
  display: inline-block;
  padding-left: 0;
}

.usuari .text {
  text-align: left;
  font-size: 14px;
}

.usuari .text_contacte.card {
  padding-left: 1rem;
  padding-right: 1rem;
}

/**** Thk ****/
.usuari .titol_thk {
  font-family: 'Poppins Bold';
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 3rem;
  text-align: center;
  min-width: 100%;
}

.usuari .text_thk {
  font-family: 'Poppins Regular';
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 3rem;
  text-align: center;
  min-width: 100%;
}

.usuari .imatge_thk {
  text-align: center;
  margin-bottom: 3rem;
}

.usuari .boto_submit_seguir {
  display: block;
  text-align: center;
}


/******* Menu *****/

.fons-menu {
  position: relative;
  top: -62px;
  background-color: #fff;
  z-index: 999;
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.menullibres {
  max-width: 1080px;
  margin: 0 auto;
  padding: 30px 0 30px;
  line-height: 30px;
}

.menullibres ul {
  width: 416px;
  border-right: 1px solid #002343;
}

.menullibres ul li:nth-child(2) {
  margin-bottom: 30px;
}

.menullibres ul li {
  list-style: none;
}

.menullibres ul li:nth-child(1),
.menullibres ul li:nth-child(2) {
  text-decoration: underline;
}

.menullibres ul li a {
  text-decoration: none;
  font-size: 14px;
}

.divider {
  position: relative;
}

.arrow-up {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #fff;
}

/****** Cistella ******/
.pedido_resumen a {
  text-decoration: none;
}

.pedido_resumen .cantidad {
  color: #f49331;
}

.pedido_resumen .thumb-cart img {
  width: 100%;
  height: auto;
}

.pedido_resumen .prod .stock {
  color: green;
}

.pedido_resumen p {
  margin-bottom: 0;
}

.pedido_resumen button {
  border-radius: 0;
  border: 0;
}

.pedido_resumen input.form-control {
  width: 2.6rem !important;
  text-align: center;
  margin-right: .15rem;
  border: 1px solid #cccccc !important;
  padding: 2px 0 2px 12px;
  width: -38px;
  height: 30px;
  margin: -10px 5px 0 5px;
}

.pedido_resumen .titol {
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid #002343;
  margin-bottom: 1rem;
}

.pedido_resumen .titol2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 1rem;
}

.pedido_resumen .icona {
  font-size: 20px;
}

.pedido_resumen .icona {
  background: linear-gradient(to bottom, white calc(50% - 1px), black calc(50% - 1px) calc(50% + 1px), white calc(50% + 1px));
  margin: 0 1px 0 1px;
}

.pedido_resumen .fons-icona {
  background-color: white;
  margin: 0 auto;
  padding: 5px;
  width: 42px;
  border-radius: 30px;
  border: 1px solid #002345;
  display: block;
}

.pedido_resumen .fons-icona svg {
  opacity: .4;
}

.pedido_resumen .fons-icona.actiu svg {
  opacity: 1;
}

.pedido_resumen .divisio {
  height: 20px;
  border-bottom: 1px solid #002345;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.pedido_resumen .resum {
  border: 1px solid black;
  margin: 0 1px 0 1px;
  padding: 0.5rem 0 1rem 0;
}

.pedido_resumen .ratlleta-abaix {
  border-bottom: 1px solid #002345;
}

.pedido_resumen .ratlleta-adalt {
  border-top: 1px solid #002345;
}

.pedido_resumen .btn-primary {
  background-color: #f49331;
  border-color: #f49331;
  width: 100%;
  font-family: 'Poppins Black';
  font-size: 14px;
  border-radius: .25rem;
}

.pedido_resumen .btn-buit {
  background-color: white;
  border: 2px solid #002343;
  color: #002343;
  border-radius: .25rem;
}

.pedido_resumen .btn-primary:hover {
  color: #fff;
  background-color: #083d6d;
  border-color: #083d6d;
}

.pedido_resumen .fluix {
  color: #b3b3b3;
}
